/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
  /* 2. Remove default margin */
* {
    margin: 0;
}
  
body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}
  /* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  /* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
  /* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  /* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
  /*9. Create a root stacking context*/
#root, #__next {
    isolation: isolate;
}

:root {
  --primary-color:blue;
  --secondary-color:white;
  --extra-color:grey;
  --bonus-color:yellow;
  --sidebar-font-size:24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
  font-family: design;
  src: url(fonts/Designer.otf);
}

@font-face {
  font-family: louis;
  src: url(fonts/Louis\ George\ Cafe.ttf);
}

body {
  display: grid;
  grid-template: 1.5fr 5fr / 350px 4fr;
}

header {
  display: grid;
  grid-template: 1fr 1fr / 1fr 400px;
  grid-area: 1 / 2 / 2 / 3;
  z-index: 1;
  background-color: var(--secondary-color);
  box-shadow: 0px -1px 12px 8px #bdbdbd;
  /* position: relative; */
}

.search {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search > label {
  height: 25px;
  width: 25px;
  background-image: url(svgs/search.svg);
  background-size: cover;
  margin-left: 20px;
  background-repeat: no-repeat;
}

.search > input {
  background-color: var(--secondary-color);
  width: 75%;
  height: 25px;
  margin: 20px;
  border: none;
  border-radius: 15px;
  padding-left: 15px;
}

.profile {
  grid-area: 1 / 2 / 1 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: louis;
  font-weight: 700;
  font-size: 20px;
  padding-right: 45px;
  gap: 25px;
}

.profile > div:nth-of-type(1) {
  height: 30px;
  width: 40px;
  background-image: url(svgs/notification-.png);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile > .profile-pic {
  height: 55px;
  width: 55px;
  background-image: url(imgs/dog.jpg);
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}

.profile-greeting {
  display: grid;
  grid-area: 2 / 1 / 3 / 2;
  grid-template-columns: 80px 1fr;
  margin-left: 15px;
  /* align-items: flex-start; */
}

.profile-greeting > .profile-pic {
  height: 62px;
  width: 62px;
  background-image: url(imgs/dog.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  bottom: 10px;
  cursor: pointer;
}

.profile-greeting p {
  font-family: louis;
  font-weight: bold;
}

.profile-greeting p:nth-child(2) {
  font-size: 24px;
}

.buttons {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons button {
  font-family: design;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 25px;
  height: 40px;
  width: 100px;
  cursor: pointer;
}

.sidebar {
  display: grid;
  grid-area: 1 / 1 / 3 / 2;
  align-items: start;
  z-index: 2;
  background-color: var(--primary-color);
  font-family: design;
  font-size: var(--sidebar-font-size);
  padding: 30px;
  gap: 48px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo > div {
  height: 48px;
  width: 48px;
  background-image: url(svgs/grid.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo > h1 {
  font-size: 32px;
  font-weight: 800;
}

.sidebar > div li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 30px;
  font-weight: 400;
}

.sidebar > div li > div {
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  background-size: cover;
}