/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
  /* 2. Remove default margin */
* {
    margin: 0;
}
  
body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}
  /* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  /* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
  /* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  /* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
  /*9. Create a root stacking context*/
#root, #__next {
    isolation: isolate;
}

:root {
  --primary-color:rgb(47, 47, 247);
  --secondary-color:rgb(255, 250, 250);
  --extra-color:rgba(230, 224, 224, 0.623);
  --bonus-color:rgba(245, 245, 52, 0.932);
  --sidebar-font-size:24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
  font-family: design;
  src: url(fonts/Designer.otf);
}

@font-face {
  font-family: louis;
  src: url(fonts/Louis\ George\ Cafe.ttf);
}

body {
  display: grid;
  grid-template: 1.5fr 5fr / 350px 4fr;
  height: 100vh;
}

header {
  display: grid;
  grid-template: 1fr 1fr / 1fr 400px;
  grid-area: 1 / 2 / 2 / 3;
  z-index: 1;
  background-color: var(--secondary-color);
  box-shadow: 0px -1px 12px 8px #bdbdbd;
  height: 25vh;
}

.search {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search > label {
  height: 25px;
  width: 25px;
  background-image: url(svgs/search.svg);
  background-size: cover;
  margin-left: 20px;
  background-repeat: no-repeat;
}

.search > input {
  background-color: var(--extra-color);
  width: 75%;
  height: 25px;
  margin: 20px;
  border: none;
  border-radius: 15px;
  padding-left: 15px;
}

.profile {
  grid-area: 1 / 2 / 1 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: louis;
  font-weight: 700;
  font-size: 20px;
  padding-right: 45px;
  gap: 25px;
}

.profile > div:nth-of-type(1) {
  height: 30px;
  width: 40px;
  background-image: url(svgs/notification-.png);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile > .profile-pic {
  height: 55px;
  width: 55px;
  background-image: url(imgs/dog.jpg);
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}

.profile-greeting {
  display: grid;
  grid-area: 2 / 1 / 3 / 2;
  grid-template-columns: 80px 1fr;
  margin-left: 15px;
}

.profile-greeting > .profile-pic {
  height: 62px;
  width: 62px;
  background-image: url(imgs/dog.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}

.profile-greeting p {
  font-family: louis;
  font-weight: bold;
}

.profile-greeting p:nth-child(2) {
  font-size: 24px;
}

.buttons {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons button {
  font-family: design;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 25px;
  height: 40px;
  width: 100px;
  cursor: pointer;
}

.sidebar {
  display: grid;
  grid-area: 1 / 1 / 3 / 2;
  align-items: start;
  z-index: 1;
  background-color: var(--primary-color);
  font-family: design;
  font-size: var(--sidebar-font-size);
  padding: 30px;
  gap: 48px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo > div {
  height: 48px;
  width: 48px;
  background-image: url(svgs/grid.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo > h1 {
  font-size: 32px;
  font-weight: 800;
}

.sidebar > div li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 30px;
  font-weight: 400;
}

.sidebar > div li > div {
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar > .navigation li:nth-of-type(1) > div {
  background-image: url(svgs/home.svg);
}
.sidebar > .navigation li:nth-of-type(2) > div {
  background-image: url(svgs/profile.png);
}
.sidebar > .navigation li:nth-of-type(3) > div {
  background-image: url(svgs/message.png);
}
.sidebar > .navigation li:nth-of-type(4) > div {
  background-image: url(svgs/history.png);
}
.sidebar > .navigation li:nth-of-type(5) > div {
  background-image: url(svgs/tasks.png);
}
.sidebar > .navigation li:nth-of-type(6) > div {
  background-image: url(svgs/communities.png);
}
.sidebar > .settings li:nth-of-type(1)>div {
  background-image: url(svgs/settings.svg);
}
.sidebar > .settings li:nth-of-type(2)>div {
  background-image: url(svgs/support-.png);
}
.sidebar > .settings li:nth-of-type(3)>div {
  background-image: url(svgs/privacy.png);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

.main {
  display: grid;
  grid-area: 2 / 2 / 3 / 3;
  grid-template: repeat(2, 1fr) / 1fr 305px;
  background-color: var(--extra-color);
  gap: 30px;
  padding: 30px;
  font-family: louis;
}

.projects > h1 {
  font-size: var(--sidebar-font-size);
  font-weight: 900;
  margin-bottom: 10px;
}

.pro-card {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: minmax(225px, 310px);
  justify-content: space-between;
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  border-left: 10px solid var(--bonus-color);
  background-color: var(--secondary-color);
  padding: 30px;
  gap: 28px;
  box-shadow: 0px 9px 15px 0px #bdbdbd;
  cursor: pointer;
}

.card > .text > h2 {
  font-size: 20px;
  font-weight: bold;
}

.card > .text > p {
  margin-top: 5px;
  color: rgb(124, 124, 124);
}

.card > .icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.icons > div {
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-size: cover;
}

.icons > div:nth-of-type(1) {
  background-image: url(svgs/star.png);
}
.icons > div:nth-of-type(2) {
  background-image: url(svgs/eye.png);
}
.icons > div:nth-of-type(3) {
  background-image: url(svgs/fork.png); 
}

.announcements {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  /* height: 30vh; */
}

.announcements > h1 {
  margin-bottom: 10px;
}

.a-card {
  flex: 1;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 15px 25px;
  box-shadow: 0px 9px 15px 0px #bdbdbd;
}

.a-card div {
  padding: 15px 5px;
  border-bottom: 2px solid lightgray;
}

.a-card div:nth-of-type(3) {
  border-bottom: none;
}

.a-card div h2 {
  margin-bottom: 5px;
}

.a-card div p {
  color: rgb(124, 124, 124);
}

.trending {
  grid-area: 2 / 2/ 3 / 3;
  display: flex;
  flex-direction: column;
  /* height: 30vh; */
}

.trending > h1 {
  margin-bottom: 10px;
}

.t-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 10px;
  background-color: var(--secondary-color);
  padding: 15px 25px;
  box-shadow: 0px 9px 15px 0px #bdbdbd;
  cursor: pointer;
}

.t-card > div {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 20px;
}

.t-card > div > .profile-pics {
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.t-card > div:nth-of-type(1) > .profile-pics {
  background-image: url(imgs/cat.jpg);
}
.t-card > div:nth-of-type(2) > .profile-pics {
  background-image: url(imgs/cow.jpg);
}
.t-card > div:nth-of-type(3) > .profile-pics {
  background-image: url(imgs/duck.jpg);
}
.t-card > div:nth-of-type(4) > .profile-pics {
  background-image: url(imgs/horse.jpg);
}

.t-profiles > p {
  margin-top: 5px;
  color: rgb(124, 124, 124);
}